body {
  margin: 25px auto;
}

.status-box {
  height: 75px;
  width: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.no-user-splash {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
